# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*BANK_MAN.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*BANK_MAN.exe
*.out
*.app
